# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = David J. Malan
email = malan@harvard.edu
[push]
	default = simple
[user]
	name = David J. Malan
	email = malan@harvard.edu
