on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Run tests
        run: |
          pip install .
          render50 -h
          touch foo.c && render50 -o foo.pdf foo.c && test -f foo.pdf

      - name: Install pypa/build
        run: python -m pip install build --user

      - name: Build a binary wheel and a source tarball
        run: python -m build --sdist --wheel --outdir dist/ .

      - name: Deploy to PyPI
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Extract program version
        id: program_version
        run: |
          echo "version=$(render50 --version | cut --delimiter ' ' --fields 2)" >> $GITHUB_OUTPUT

      - name: Create Release
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/github-script@v8
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "v${{ steps.program_version.outputs.version }}",
              tag_commitish: "${{ github.sha }}"
            })

      - name: Re-deploy dependent
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.DEPLOY50_PAT }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'cs50',
              repo: 'render.cs50.io',
              workflow_id: 'main.yml',
              ref: 'main'
            });
