on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Run tests
      run: |
        pip install .
        render50 -h
        touch foo.c && render50 -o foo.pdf foo.c && test -f foo.pdf

    - name: Install pypa/build
      run: python -m pip install build --user

    - name: Build a binary wheel and a source tarball
      run: python -m build --sdist --wheel --outdir dist/ .

    - name: Deploy to PyPI
      if: ${{ github.ref == 'refs/heads/main' }}
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}

    - name: Extract program version
      id: program_version
      run: |
        echo ::set-output name=version::$(render50 --version | cut --delimiter ' ' --fields 2)

    - name: Create Release
      if: ${{ github.ref == 'refs/heads/main' }}
      uses: actions/github-script@v6
      with:
        github-token: ${{ github.token }}
        script: |
          github.rest.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            tag_name: "v${{ steps.program_version.outputs.version }}",
            tag_commitish: "${{ github.sha }}"
          })

    - name: Re-deploy dependent
      if: ${{ github.ref == 'refs/heads/main' }}
      uses: actions/github-script@v6
      with:
        github-token: ${{ secrets.DEPLOY50_PAT }}
        script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'cs50',
              repo: 'render.cs50.io',
              workflow_id: 'main.yml',
              ref: 'main'
            });
